# Virtual Environments
.venv/
venv/
env/
bin/
lib/
include/
pyvenv.cfg

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# Distribution / Build
dist/
build/
*.egg-info/

# Neural network
*.pt
*.dat
setup/

# Environments
.env
.env.*
*.env